{% extends "core/layout.html" %}
{% load static %}


{% block head %}

  <meta charset="UTF-8" />

  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />

  <title>{{ article.title }} | Zadtech</title>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  >

  <link
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"
    rel="stylesheet"
  >

  <link
    href="{% static 'articles/css/view_article.css' %}"
    rel="stylesheet"
  />

{% endblock %}



{% block body %}


<div class="page-container">


    <!-- ==================================================
         المقالات ذات الصلة
    ================================================== -->

    <nav class="sidebar">


        <h3>
            مقالات وكتابات ذات صلة
        </h3>


        {% for related_article in related_articles %}


            <div
                class="article-item"
                onclick="window.location.href='{% url 'view_article' related_article.id %}'"
            >

                مقال {{ related_article.title }}


                <span class="icon">


                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="43.5"
                        height="43.5"
                        viewBox="0 0 43.5 43.5"
                    >

                        <g
                            id="vuesax_linear_card-edit"
                            data-name="vuesax/linear/card-edit"
                            transform="translate(-684 -508)"
                        >

                            <g
                                id="card-edit"
                                transform="translate(684 508)"
                            >

                                <path
                                    id="Vector"
                                    d="M0,0H17.219"
                                    transform="translate(3.618 15.406)"
                                    fill="none"
                                    stroke="#292d32"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                />

                                <path
                                    id="Vector-2"
                                    data-name="Vector"
                                    d="M0,0H3.625"
                                    transform="translate(10.868 29.906)"
                                    fill="none"
                                    stroke="#292d32"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                />

                                <path
                                    id="Vector-3"
                                    data-name="Vector"
                                    d="M0,0H7.25"
                                    transform="translate(19.024 29.906)"
                                    fill="none"
                                    stroke="#292d32"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                />

                                <path
                                    id="Vector-4"
                                    data-name="Vector"
                                    d="M36.25,15.461v7.4c0,6.362-1.613,7.957-8.048,7.957H8.047C1.613,30.813,0,29.218,0,22.856V7.957C0,1.595,1.613,0,8.047,0H22.656"
                                    transform="translate(3.618 6.344)"
                                    fill="none"
                                    stroke="#292d32"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                />

                                <path
                                    id="Vector-5"
                                    data-name="Vector"
                                    d="M7.665,1.08.94,7.8A2.361,2.361,0,0,0,.378,8.929L.016,11.5a1.222,1.222,0,0,0,1.45,1.45L4.04,12.59a2.361,2.361,0,0,0,1.124-.562L11.888,5.3c1.16-1.16,1.7-2.5,0-4.205C10.166-.623,8.825-.08,7.665,1.08Z"
                                    transform="translate(26.911 6.405)"
                                    fill="none"
                                    stroke="#292d32"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                />

                                <path
                                    id="Vector-6"
                                    data-name="Vector"
                                    d="M0,0A6.067,6.067,0,0,0,4.205,4.205"
                                    transform="translate(33.615 8.446)"
                                    fill="none"
                                    stroke="#292d32"
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                />

                                <path
                                    id="Vector-7"
                                    data-name="Vector"
                                    d="M0,0H43.5V43.5H0Z"
                                    fill="none"
                                    opacity="0"
                                />

                            </g>

                        </g>

                    </svg>


                </span>


            </div>


        {% empty %}


            <div class="article-item">

                لا توجد مقالات أخرى حالياً

            </div>


        {% endfor %}


    </nav>


    <main class="main-content">



        <!-- ==============================
             زر العودة
        ============================== -->

        <div class="back-wrapper">


            <a
                href="{% url 'article_list' %}"
                class="back-link"
            >


                <svg
                    class="back-icon"
                    viewBox="0 0 42 42"
                >

                    <path
                        d="M0,27.858,11.3,16.391a3.529,3.529,0,0,0,0-4.924L0,0"
                        transform="translate(15.656 7.071)"
                        fill="none"
                        stroke="#292d32"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                    />

                </svg>


                <span class="back-text">
                    عودة
                </span>


            </a>


        </div>





        <!-- ==================================================
             صورة المقال
        ================================================== -->



        
        {% if article.image %}

            <img
                id="display-image"
                class="display-image"
                src="{{ article.image.url }}"
                alt="{{ article.title }}"
            >

        {% else %}

            <img
                src="{% static 'articles/images/articles_default.jpg' %}"
                alt="{{ article.title }}"
            >

        {% endif %}


        <div class="tabs">


            <span class="active">
                الوصف
            </span>


            <span onclick="openModal('commentModal')">
                التعليقات
            </span>


            <span onclick="openModal('ratingModal')">
                قيم العنصر
            </span>


        </div>



        <div
            id="commentModal"
            class="modal"
            onclick="closeModal(event)"
        >


            <div
                class="modal-content"
                onclick="event.stopPropagation()"
            >


                <h3>
                    ارسل تعليق لهذا المحتوى
                </h3>


                <input
                    type="email"
                    placeholder="الايميل"
                    class="modal-input"
                >


                <textarea
                    placeholder="التعليق"
                    class="modal-input"
                    rows="2"
                ></textarea>


                <button
                    class="send-btn"
                    onclick="submitComment()"
                >
                    إرسال
                </button>


            </div>


        </div>



        <div
            id="ratingModal"
            class="modal"
            onclick="closeModal(event)"
        >


            <div
                class="modal-content"
                onclick="event.stopPropagation()"
            >


                <h3>
                    ارسل تقييمك لهذا المحتوى
                </h3>


                <div class="stars">


                    <svg
                        class="star-icon"
                        onclick="rate(1)"
                        width="25"
                        height="25"
                        viewBox="0 0 56 56"
                    >
                        <path d="M27.758,3.393l4.165,8.336a5.143,5.143,0,0,0,3.361,2.487l7.55,1.255c4.828.805,5.964,4.31,2.485,7.768l-5.869,5.873A5.145,5.145,0,0,0,38.219,33.4L39.9,40.67c1.325,5.755-1.728,7.981-6.816,4.973l-7.076-4.192a5.113,5.113,0,0,0-4.686,0l-7.076,4.192C9.18,48.651,6.1,46.4,7.429,40.67L9.109,33.4a5.145,5.145,0,0,0-1.231-4.287L2.009,23.239c-3.455-3.458-2.343-6.963,2.485-7.768l7.55-1.255a5.155,5.155,0,0,0,3.337-2.487l4.165-8.336C21.818-1.131,25.51-1.131,27.758,3.393Z" stroke-width="2"/>
                    </svg>


                    <svg
                        class="star-icon"
                        onclick="rate(2)"
                        width="25"
                        height="25"
                        viewBox="0 0 56 56"
                    >
                        <path d="M27.758,3.393l4.165,8.336a5.143,5.143,0,0,0,3.361,2.487l7.55,1.255c4.828.805,5.964,4.31,2.485,7.768l-5.869,5.873A5.145,5.145,0,0,0,38.219,33.4L39.9,40.67c1.325,5.755-1.728,7.981-6.816,4.973l-7.076-4.192a5.113,5.113,0,0,0-4.686,0l-7.076,4.192C9.18,48.651,6.1,46.4,7.429,40.67L9.109,33.4a5.145,5.145,0,0,0-1.231-4.287L2.009,23.239c-3.455-3.458-2.343-6.963,2.485-7.768l7.55-1.255a5.155,5.155,0,0,0,3.337-2.487l4.165-8.336C21.818-1.131,25.51-1.131,27.758,3.393Z" stroke-width="2"/>
                    </svg>


                    <svg
                        class="star-icon"
                        onclick="rate(3)"
                        width="25"
                        height="25"
                        viewBox="0 0 56 56"
                    >
                        <path d="M27.758,3.393l4.165,8.336a5.143,5.143,0,0,0,3.361,2.487l7.55,1.255c4.828.805,5.964,4.31,2.485,7.768l-5.869,5.873A5.145,5.145,0,0,0,38.219,33.4L39.9,40.67c1.325,5.755-1.728,7.981-6.816,4.973l-7.076-4.192a5.113,5.113,0,0,0-4.686,0l-7.076,4.192C9.18,48.651,6.1,46.4,7.429,40.67L9.109,33.4a5.145,5.145,0,0,0-1.231-4.287L2.009,23.239c-3.455-3.458-2.343-6.963,2.485-7.768l7.55-1.255a5.155,5.155,0,0,0,3.337-2.487l4.165-8.336C21.818-1.131,25.51-1.131,27.758,3.393Z" stroke-width="2"/>
                    </svg>


                    <svg
                        class="star-icon"
                        onclick="rate(4)"
                        width="25"
                        height="25"
                        viewBox="0 0 56 56"
                    >
                        <path d="M27.758,3.393l4.165,8.336a5.143,5.143,0,0,0,3.361,2.487l7.55,1.255c4.828.805,5.964,4.31,2.485,7.768l-5.869,5.873A5.145,5.145,0,0,0,38.219,33.4L39.9,40.67c1.325,5.755-1.728,7.981-6.816,4.973l-7.076-4.192a5.113,5.113,0,0,0-4.686,0l-7.076,4.192C9.18,48.651,6.1,46.4,7.429,40.67L9.109,33.4a5.145,5.145,0,0,0-1.231-4.287L2.009,23.239c-3.455-3.458-2.343-6.963,2.485-7.768l7.55-1.255a5.155,5.155,0,0,0,3.337-2.487l4.165-8.336C21.818-1.131,25.51-1.131,27.758,3.393Z" stroke-width="2"/>
                    </svg>


                    <svg
                        class="star-icon"
                        onclick="rate(5)"
                        width="25"
                        height="25"
                        viewBox="0 0 56 56"
                    >
                        <path d="M27.758,3.393l4.165,8.336a5.143,5.143,0,0,0,3.361,2.487l7.55,1.255c4.828.805,5.964,4.31,2.485,7.768l-5.869,5.873A5.145,5.145,0,0,0,38.219,33.4L39.9,40.67c1.325,5.755-1.728,7.981-6.816,4.973l-7.076-4.192a5.113,5.113,0,0,0-4.686,0l-7.076,4.192C9.18,48.651,6.1,46.4,7.429,40.67L9.109,33.4a5.145,5.145,0,0,0-1.231-4.287L2.009,23.239c-3.455-3.458-2.343-6.963,2.485-7.768l7.55-1.255a5.155,5.155,0,0,0,3.337-2.487l4.165-8.336C21.818-1.131,25.51-1.131,27.758,3.393Z" stroke-width="2"/>
                    </svg>


                </div>


                <div class="divider"></div>


                <div class="modal-actions">


                    <button
                        class="action-btn active"
                        onclick="submitRating()"
                    >
                        ارسال
                    </button>


                    <div class="vertical-line"></div>


                    <button
                        class="action-btn"
                        onclick="closeModalDirectly()"
                    >
                        ليس الآن
                    </button>


                </div>


            </div>


        </div>





        {% if article.attachment %}


            <h1
                id="display-title"
                onclick="window.open('{{ article.attachment.url }}', '_blank')"
                style="cursor: pointer;"
            >
                {{ article.title }}
            </h1>


        {% else %}


            <h1 id="display-title">
                {{ article.title }}
            </h1>


        {% endif %}



        <p class="author">

            نشر بتاريخ
            {{ article.published_at|date:"Y/m/d" }}

        </p>



        <p id="display-desc">

            {{ article.description }}

        </p>


    </main>


</div>





<!-- ==================================================
     JavaScript
================================================== -->

<script>


    function closeModalDirectly() {

        const modal =
            document.getElementById('ratingModal');


        if (modal) {

            modal.style.display = 'none';

        }

    }



    let selectedRating = 0;


    function rate(n) {

        selectedRating = n;


        const stars =
            document.querySelectorAll('.star-icon');


        stars.forEach((star, index) => {

            star.classList.toggle(
                'active',
                index < n
            );

        });

    }



    function submitRating() {

        if (selectedRating === 0) {

            alert(
                "يرجى اختيار التقييم أولاً."
            );

            return;

        }


        alert(
            "تم إرسال تقييمك بنجاح!"
        );


        closeModalDirectly();

    }



    function submitComment() {

        alert(
            "تم إرسال التعليق!"
        );


        const modal =
            document.getElementById('commentModal');


        if (modal) {

            modal.style.display = 'none';

        }

    }



    function openModal(id) {

        const modal =
            document.getElementById(id);


        if (modal) {

            modal.style.display = 'flex';

        }

    }



    function closeModal(event) {

        if (
            event.target.classList.contains('modal')
        ) {

            event.target.style.display =
                'none';

        }

    }


</script>


{% endblock body %}
