{% extends "core/layout.html" %}
{% load static %}

{% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zadtech</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
    <link href="{% static 'core/css/about.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <!-- قسم البحث -->
    <section class="search-section">
        <form action="/search" method="GET" class="search-container">
            <button type="submit" class="search-btn">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 46 46">
                    <g id="search-normal" transform="translate(2 2)">
                        <path d="M41,20.5A20.5,20.5,0,1,1,20.5,0,20.5,20.5,0,0,1,41,20.5Z" fill="none" stroke="#555" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                        <path d="M7,7,2,2" transform="translate(37 37)" fill="none" stroke="#555" stroke-linecap="round" stroke-linejoin="round" stroke-width="3"/>
                    </g>
                </svg>
            </button>
            <input type="text" name="q" placeholder="ابحث عن محتواك" class="search-input">
        </form>
    </section>

    <!-- علامات التبويب -->
    <div class="tabs">
        <button id="booksBtn" class="tab-btn active">كتب</button>
        <button id="coursesBtn" class="tab-btn">دورات تدريبية</button>
        <button id="articlesBtn" class="tab-btn">مقالات</button>
        <button id="podcastBtn" class="tab-btn">بودكاست</button>
        <button id="addBtn" class="tab-btn add-btn">
            <span class="plus">+</span> نشر كتاب جديد
        </button>
    </div>

    <!-- قسم الكتب -->
    <h2 id="bookTitle" class="section-title">الكتب</h2>
    <div id="bookCards" class="cards-container">
        <!-- الكتاب 1 -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books1.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>طريق التقوى</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book1')" class="details-btn">المزيد من التفاصيل</a>
        </div>

        <!-- الكتاب 2 -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books2.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>حياتك مع الله أفضل</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book2')" class="details-btn">المزيد من التفاصيل</a>
        </div>

        <!-- الكتاب 3 -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books3.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>العمل الصالح</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book3')" class="details-btn">المزيد من التفاصيل</a>
        </div>

        <!-- الكتاب 4 مع مسار الصورة المُصحح -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books1.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>طريق التقوى</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book4')" class="details-btn">المزيد من التفاصيل</a>
        </div>

        <!-- الكتاب 5 -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books2.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>طريق التقوى</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book5')" class="details-btn">المزيد من التفاصيل</a>
        </div>

        <!-- الكتاب 6 مع مسار الصورة المُصحح -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books3.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>طريق التقوى</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book6')" class="details-btn">المزيد من التفاصيل</a>
        </div>

        <!-- الكتاب 7 مع مسار الصورة المُصحح -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books1.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>طريق التقوى</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book7')" class="details-btn">المزيد من التفاصيل</a>
        </div>

        <!-- الكتاب 8 مع مسار الصورة المُصحح -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books2.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>طريق التقوى</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book8')" class="details-btn">المزيد من التفاصيل</a>
        </div>

        <!-- الكتاب 9 مع مسار الصورة المُصحح -->
        <div class="card fade-in">
            <div class="image-wrapper">
                <img src="{% static 'core/images/books3.jpg' %}" alt="كتاب">
            </div>
            <div class="card-header">
                <h3>طريق التقوى</h3>
                <div class="stars-container">
                    {% for i in "12345" %}
                        <svg class="star-icon" xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24">
                            <g id="vuesax_linear_star" data-name="vuesax/linear/star" transform="translate(-108 -188)" opacity="0.47">
                                <g id="star">
                                    <path id="Vector" d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z" transform="translate(110.001 190.077)" fill="#f5b325" stroke="#f5b325" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
                                    <path id="Vector-2" data-name="Vector" d="M0,0H24V24H0Z" transform="translate(108 188)" fill="#f5b325" opacity="0"/>
                                </g>
                            </g>
                        </svg>
                    {% endfor %}
                </div>
            </div>
            <p>رحلة ملهمة تغوص في أعماق النفس البشرية لتقدم لك خارطة طريق عملية نحو التغيير الإيجابي وتحقيق الأهداف. يجمع هذا الكتاب بين الحكمة العميقة والخطوات الواقعية التي تجعل من تطوير حياتك تجربة ممتعة وممكنة</p>
            <a href="javascript:void(0)" onclick="goToBook('book9')" class="details-btn">المزيد من التفاصيل</a>
        </div>
    </div>

    <!-- قسم الدورات التدريبية -->
    <h2 id="courseTitle" class="section-title hidden">الدورات التدريبية</h2>
    <div id="courseCards" class="cards-container hidden">
        <!-- الدورات التدريبية هنا - تم اختصارها للحفاظ على المساحة -->
    </div>

    <!-- قسم المقالات -->
    <h2 id="articleTitle" class="section-title hidden">المقالات</h2>
    <div id="articleCards" class="cards-container hidden">
        <!-- المقالات هنا - تم اختصارها للحفاظ على المساحة -->
    </div>

    <!-- قسم البودكاست -->
    <h2 id="podcastTitle" class="section-title hidden">البودكاست</h2>
    <div id="podcastCards" class="cards-container hidden">
        <!-- البودكاست هنا - تم اختصارها للحفاظ على المساحة -->
    </div>

    <script>
        // علامات التبويب والتنقل
        const tabs = document.querySelectorAll(".tab-btn");
        const addBtn = document.getElementById("addBtn");

        const sections = {
            books: ["bookTitle", "bookCards", "نشر كتاب جديد", "publish an book.html"],
            courses: ["courseTitle", "courseCards", "نشر دورة تدريبية", "publish an course.html"],
            articles: ["articleTitle", "articleCards", "نشر مقال جديد", "publish an article.html"],
            podcast: ["podcastTitle", "podcastCards", "نشر بودكاست جديد", "publish an podcast.html"]
        };

        tabs.forEach(btn => {
            btn.addEventListener("click", () => {
                tabs.forEach(b => b.classList.remove("active"));
                btn.classList.add("active");
                localStorage.setItem("activeTab", btn.id);

                Object.values(sections).forEach(([title, cards]) => {
                    const titleEl = document.getElementById(title);
                    const cardsEl = document.getElementById(cards);
                    if (titleEl) titleEl.classList.add("hidden");
                    if (cardsEl) cardsEl.classList.add("hidden");
                });

                const id = btn.id.replace("Btn", "");
                if (sections[id]) {
                    const [title, cards, publishText, pageLink] = sections[id];
                    document.getElementById(title).classList.remove("hidden");
                    document.getElementById(cards).classList.remove("hidden");
                    addBtn.innerHTML = `<span class='plus'>+</span> ${publishText}`;
                    addBtn.onclick = () => {
                        window.location.href = pageLink;
                    };
                }
            });
        });

        // استعادة علامة التبويب النشطة
        window.onload = function() {
            const savedTab = localStorage.getItem("activeTab") || "booksBtn";
            const activeBtn = document.getElementById(savedTab);
            if (activeBtn) activeBtn.click();
        };

        // دالة الكتب
        function goToBook(id) {
            localStorage.setItem('selectedBook', id);
            window.location.href = 'View book.html';
        }

        // دالة الدورات التدريبية
        function selectService(articleId, sectionId = null) {
            localStorage.setItem('selectedArticle', articleId);
            if (sectionId) {
                localStorage.setItem('returnSection', sectionId);
            } else {
                localStorage.removeItem('returnSection');
            }
            window.location.href = 'View course.html';
        }

        // دالة المقالات
        function selectService(id, type = 'article') {
            localStorage.setItem('selectedArticle', id);
            localStorage.setItem('contentType', type);
            window.location.href = 'View Article.html';
        }

        // دالة البودكاست
        function goToPodcast(id) {
            localStorage.setItem('selectedPodcast', id);
            window.location.href = 'View podcast.html';
        }

        // تأثير الظهور
        const observer = new IntersectionObserver((entries) => {
            entries.forEach(entry => {
                if (entry.isIntersecting) {
                    entry.target.classList.add('visible');
                }
            });
        }, {
            threshold: 0.1
        });

        document.querySelectorAll('.fade-in').forEach(el => {
            observer.observe(el);
        });
    </script>
{% endblock %}
