{% load static %}

{% block head %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap" rel="stylesheet">
  <link href="{% static 'authentication/css/login.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}    

 <div class="bg-container">

    <div class="blue-shape"></div>
    <div class="yellow-shape"></div>
    
    </div>

 <input type="checkbox" id="toggle-view" class="hidden-checkbox">


    <div class="card-wrapper">
        <div class="card fade-in">
            
         <div class="blue-shape"></div>
            <div class="yellow-shape"></div>

            <div class="form-container login-card">
                <img src="{% static 'core/images/logo.png' %}" alt="ZAD Logo" class="logo">

                <p>أنشئ <label for="toggle-view" class="link">حساب جديد</label> اذا كنت مستخدم جديد</p>
                <input type="text" placeholder="اسم المستخدم">
                <input type="email" placeholder="البريد الالكتروني">
                <button class="btn">دخول</button>
                <a href="{% url 'home' %}">
                    <p class="skip">تخطي عملية تسجيل الدخول</p>
                </a>
            </div>

            <div class="form-container signup-card">
                <img src="{% static 'core/images/logo.png' %}" alt="ZAD Logo" class="logo">
                <p>سجل دخولك <label for="toggle-view" class="link">اذا كان لديك حساب بالفعل</label></p>
                <input type="text" placeholder="اسم المستخدم">
                <input type="email" placeholder="البريد الالكتروني">
                <button class="btn">تسجيل حساب جديد</button>
                <a href="{% url 'home' %}">
                    <p class="skip">تخطي عملية تسجيل الدخول</p>
                </a>
            </div>
        </div>
    </div>




    <script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach(entry => {
      if (entry.isIntersecting) {
        entry.target.classList.add('visible');
      }
    });
  }, {
    threshold: 0.1
  });

  document.querySelectorAll('.fade-in').forEach(el => {
    observer.observe(el);
  });
</script>


{% endblock body %}
