{% extends "core/layout.html" %}
{% load static %}


{% block head %}

<meta charset="UTF-8">

<meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
>

<title>Zadtech</title>


<link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
>


<link
    href="https://fonts.googleapis.com/css2?family=Almarai:wght@300;400;700;800&display=swap"
    rel="stylesheet"
>


<link
    href="{% static 'core/css/about.css' %}"
    rel="stylesheet"
>

{% endblock %}



{% block body %}



<!-- ==================================================
     البحث
================================================== -->

<section class="search-section">


    <form
        action="{% url 'about' %}"
        method="GET"
        class="search-container"
    >


        <button
            type="submit"
            class="search-btn"
        >


            <svg
                xmlns="http://www.w3.org/2000/svg"
                width="24"
                height="24"
                viewBox="0 0 46 46"
            >

                <g
                    id="search-normal"
                    transform="translate(2 2)"
                >

                    <path
                        d="M41,20.5A20.5,20.5,0,1,1,20.5,0,20.5,20.5,0,0,1,41,20.5Z"
                        fill="none"
                        stroke="#555"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                    />


                    <path
                        d="M7,7,2,2"
                        transform="translate(37 37)"
                        fill="none"
                        stroke="#555"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="3"
                    />

                </g>

            </svg>


        </button>


        <input
            type="text"
            name="q"
            value="{{ query }}"
            placeholder="ابحث عن محتواك"
            class="search-input"
        >


    </form>


</section>





<!-- ==================================================
     Tabs
================================================== -->

<div class="tabs">


    <button
        id="booksBtn"
        class="tab-btn active"
        type="button"
        data-section="books"
        data-publish-url="{% url 'add_new_book' %}"
        data-publish-text="نشر كتاب جديد"
    >
        كتب
    </button>



    <button
        id="coursesBtn"
        class="tab-btn"
        type="button"
        data-section="courses"
        data-publish-url="{% url 'add_new_course' %}"
        data-publish-text="نشر دورة تدريبية"
    >
        دورات تدريبية
    </button>



    <button
        id="articlesBtn"
        class="tab-btn"
        type="button"
        data-section="articles"
        data-publish-url="{% url 'add_new_article' %}"
        data-publish-text="نشر مقال جديد"
    >
        مقالات
    </button>



    <button
        id="podcastBtn"
        class="tab-btn"
        type="button"
        data-section="podcast"
        data-publish-url="{% url 'add_new_podcast' %}"
        data-publish-text="نشر بودكاست جديد"
    >
        بودكاست
    </button>



    <button
        id="addBtn"
        class="tab-btn add-btn"
        type="button"
    >

        <span class="plus">
            +
        </span>

        <span id="addBtnText">
            نشر كتاب جديد
        </span>

    </button>


</div>





<!-- ==================================================
     الكتب
================================================== -->

<h2
    id="bookTitle"
    class="section-title"
>
    الكتب
</h2>



<div
    id="bookCards"
    class="cards-container"
>


    {% for book in books %}


        <div class="card fade-in">


            <div class="image-wrapper">


                {% if book.cover_image %}


                    <img
                        src="{{ book.cover_image.url }}"
                        alt="{{ book.title }}"
                    >


                {% else %}


                    <img
                        src="{% static 'core/images/books1.jpg' %}"
                        alt="{{ book.title }}"
                    >


                {% endif %}


            </div>



            <div class="card-header">


                <h3>
                    {{ book.title }}
                </h3>



                <div class="stars-container">


                    {% for i in "12345" %}


                        <svg
                            class="star-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                        >

                            <g
                                id="vuesax_linear_star"
                                data-name="vuesax/linear/star"
                                transform="translate(-108 -188)"
                                opacity="0.47"
                            >

                                <g id="star">


                                    <path
                                        id="Vector"
                                        d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z"
                                        transform="translate(110.001 190.077)"
                                        fill="#f5b325"
                                        stroke="#f5b325"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                        stroke-width="1.5"
                                    />


                                    <path
                                        id="Vector-2"
                                        data-name="Vector"
                                        d="M0,0H24V24H0Z"
                                        transform="translate(108 188)"
                                        fill="#f5b325"
                                        opacity="0"
                                    />


                                </g>

                            </g>

                        </svg>


                    {% endfor %}


                </div>


            </div>



            <p>

                {{ book.description|truncatewords:30 }}

            </p>



            {% if book.link %}


                <a
                    href="{{ book.link }}"
                    class="details-btn"
                >
                    المزيد من التفاصيل
                </a>


            {% else %}


                <a
                    href="{% url 'book_list' %}"
                    class="details-btn"
                >
                    المزيد من التفاصيل
                </a>


            {% endif %}


        </div>


    {% empty %}


        <div class="card fade-in">

            <div class="card-header">

                <h3>
                    لا توجد كتب متاحة
                </h3>

            </div>

            <p>
                لم يتم العثور على كتب مطابقة.
            </p>

        </div>


    {% endfor %}


</div>





<!-- ==================================================
     الدورات التدريبية
================================================== -->

<h2
    id="courseTitle"
    class="section-title hidden"
>
    الدورات التدريبية
</h2>



<div
    id="courseCards"
    class="cards-container hidden"
>


    {% for course in courses %}


        <div class="card fade-in">


            <div class="image-wrapper">


                {% if course.thumbnail %}


                    <img
                        src="{{ course.thumbnail.url }}"
                        alt="{{ course.title }}"
                    >


                {% else %}


                    <img
                        src="{% static 'core/images/books1.jpg' %}"
                        alt="{{ course.title }}"
                    >


                {% endif %}


            </div>



            <div class="card-header">


                <h3>
                    {{ course.title }}
                </h3>



                <div class="stars-container">


                    {% for i in "12345" %}


                        <svg
                            class="star-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                        >

                            <g
                                transform="translate(-108 -188)"
                                opacity="0.47"
                            >

                                <g>


                                    <path
                                        d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z"
                                        transform="translate(110.001 190.077)"
                                        fill="#f5b325"
                                        stroke="#f5b325"
                                        stroke-width="1.5"
                                    />


                                </g>

                            </g>

                        </svg>


                    {% endfor %}


                </div>


            </div>



            <p>

                دورة تدريبية:
                {{ course.title }}

            </p>



            <a
                href="{% url 'view_course' course.id %}"
                class="details-btn"
            >
                المزيد من التفاصيل
            </a>


        </div>


    {% empty %}


        <div class="card fade-in">

            <div class="card-header">

                <h3>
                    لا توجد دورات متاحة
                </h3>

            </div>

            <p>
                لم يتم العثور على دورات مطابقة.
            </p>

        </div>


    {% endfor %}


</div>





<!-- ==================================================
     المقالات
================================================== -->

<h2
    id="articleTitle"
    class="section-title hidden"
>
    المقالات
</h2>



<div
    id="articleCards"
    class="cards-container hidden"
>


    {% for article in articles %}


        <div class="card fade-in">


            <div class="image-wrapper">


                {% if article.image %}


                    <img
                        src="{{ article.image.url }}"
                        alt="{{ article.title }}"
                    >


                {% else %}


                    <img
                        src="{% static 'articles/images/articles_default.jpg' %}"
                        alt="{{ article.title }}"
                    >


                {% endif %}


            </div>



            <div class="card-header">


                <h3>
                    {{ article.title }}
                </h3>



                <div class="stars-container">


                    {% for i in "12345" %}


                        <svg
                            class="star-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                        >

                            <g
                                transform="translate(-108 -188)"
                                opacity="0.47"
                            >

                                <g>


                                    <path
                                        d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z"
                                        transform="translate(110.001 190.077)"
                                        fill="#f5b325"
                                        stroke="#f5b325"
                                        stroke-width="1.5"
                                    />


                                </g>

                            </g>

                        </svg>


                    {% endfor %}


                </div>


            </div>



            <p>

                {{ article.description|truncatewords:30 }}

            </p>



            <a
                href="{% url 'view_article' article.id %}"
                class="details-btn"
            >
                المزيد من التفاصيل
            </a>


        </div>


    {% empty %}


        <div class="card fade-in">

            <div class="card-header">

                <h3>
                    لا توجد مقالات متاحة
                </h3>

            </div>

            <p>
                لم يتم العثور على مقالات مطابقة.
            </p>

        </div>


    {% endfor %}


</div>





<!-- ==================================================
     البودكاست
================================================== -->

<h2
    id="podcastTitle"
    class="section-title hidden"
>
    البودكاست
</h2>



<div
    id="podcastCards"
    class="cards-container hidden"
>


    {% for podcast in podcasts %}


        <div class="card fade-in">


            <div class="image-wrapper">


                {% if podcast.youtube_thumbnail %}


                    <img
                        src="{{ podcast.youtube_thumbnail }}"
                        alt="{{ podcast.title }}"
                    >


                {% elif podcast.image %}


                    <img
                        src="{{ podcast.image.url }}"
                        alt="{{ podcast.title }}"
                    >


                {% else %}


                    <img
                        src="{% static 'podcast/images/podcast_default.jpg' %}"
                        alt="{{ podcast.title }}"
                    >


                {% endif %}


            </div>



            <div class="card-header">


                <h3>
                    {{ podcast.title }}
                </h3>



                <div class="stars-container">


                    {% for i in "12345" %}


                        <svg
                            class="star-icon"
                            xmlns="http://www.w3.org/2000/svg"
                            width="18"
                            height="18"
                            viewBox="0 0 24 24"
                        >

                            <g
                                transform="translate(-108 -188)"
                                opacity="0.47"
                            >

                                <g>


                                    <path
                                        d="M11.729,1.433l1.76,3.52A2.173,2.173,0,0,0,14.909,6l3.19.53c2.04.34,2.52,1.82,1.05,3.28l-2.48,2.48a2.171,2.171,0,0,0-.52,1.81l.71,3.07c.56,2.43-.73,3.37-2.88,2.1l-2.99-1.77a2.162,2.162,0,0,0-1.98,0l-2.99,1.77c-2.14,1.27-3.44.32-2.88-2.1l.71-3.07a2.171,2.171,0,0,0-.52-1.81L.849,9.813c-1.46-1.46-.99-2.94,1.05-3.28L5.089,6A2.178,2.178,0,0,0,6.5,4.953l1.76-3.52C9.219-.477,10.779-.477,11.729,1.433Z"
                                        transform="translate(110.001 190.077)"
                                        fill="#f5b325"
                                        stroke="#f5b325"
                                        stroke-width="1.5"
                                    />


                                </g>

                            </g>

                        </svg>


                    {% endfor %}


                </div>


            </div>



            <p>

                شاهد واستمع إلى
                {{ podcast.title }}
                من خلال منصة زاد تك.

            </p>



            <a
                href="{% url 'view_podcast' podcast.id %}"
                class="details-btn"
            >
                المزيد من التفاصيل
            </a>


        </div>


    {% empty %}


        <div class="card fade-in">

            <div class="card-header">

                <h3>
                    لا يوجد بودكاست متاح
                </h3>

            </div>

            <p>
                لم يتم العثور على بودكاست مطابق.
            </p>

        </div>


    {% endfor %}


</div>





<!-- ==================================================
     JavaScript الخاص بالـ Tabs
================================================== -->

<script>


    const contentTabs =
        document.querySelectorAll(
            '.tab-btn[data-section]'
        );


    const addBtn =
        document.getElementById(
            'addBtn'
        );


    const addBtnText =
        document.getElementById(
            'addBtnText'
        );



    const sections = {

        books: {
            title: 'bookTitle',
            cards: 'bookCards'
        },

        courses: {
            title: 'courseTitle',
            cards: 'courseCards'
        },

        articles: {
            title: 'articleTitle',
            cards: 'articleCards'
        },

        podcast: {
            title: 'podcastTitle',
            cards: 'podcastCards'
        }

    };



    function activateSection(button) {


        contentTabs.forEach(
            tab => {

                tab.classList.remove(
                    'active'
                );

            }
        );


        button.classList.add(
            'active'
        );



        Object.values(
            sections
        ).forEach(
            section => {


                const title =
                    document.getElementById(
                        section.title
                    );


                const cards =
                    document.getElementById(
                        section.cards
                    );


                if (title) {

                    title.classList.add(
                        'hidden'
                    );

                }


                if (cards) {

                    cards.classList.add(
                        'hidden'
                    );

                }


            }
        );



        const sectionName =
            button.dataset.section;


        const currentSection =
            sections[sectionName];


        if (currentSection) {


            document
                .getElementById(
                    currentSection.title
                )
                .classList
                .remove('hidden');


            document
                .getElementById(
                    currentSection.cards
                )
                .classList
                .remove('hidden');


        }



        const publishText =
            button.dataset.publishText;


        const publishUrl =
            button.dataset.publishUrl;



        if (addBtnText) {

            addBtnText.textContent =
                publishText;

        }



        if (addBtn) {

            addBtn.onclick =
                function () {

                    window.location.href =
                        publishUrl;

                };

        }



        localStorage.setItem(
            'aboutActiveTab',
            button.id
        );


        // تشغيل animation للعناصر
        document
            .querySelectorAll(
                '#' +
                currentSection.cards +
                ' .fade-in'
            )
            .forEach(
                element => {

                    observer.observe(
                        element
                    );

                }
            );


    }



    contentTabs.forEach(
        button => {


            button.addEventListener(
                'click',
                function () {

                    activateSection(
                        this
                    );

                }
            );


        }
    );



    // ========================================
    // Animation
    // ========================================

    const observer =
        new IntersectionObserver(

            entries => {


                entries.forEach(
                    entry => {


                        if (
                            entry.isIntersecting
                        ) {

                            entry.target
                                .classList
                                .add(
                                    'visible'
                                );

                        }


                    }
                );


            },

            {
                threshold: 0.1
            }

        );



    document
        .querySelectorAll(
            '.fade-in'
        )
        .forEach(
            element => {

                observer.observe(
                    element
                );

            }
        );



    // ========================================
    // استعادة آخر Tab
    // ========================================

    const savedTab =
        localStorage.getItem(
            'aboutActiveTab'
        );


    const defaultButton =
        document.getElementById(
            savedTab
        ) ||
        document.getElementById(
            'booksBtn'
        );


    if (defaultButton) {

        activateSection(
            defaultButton
        );

    }


</script>


{% endblock %}
