html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow-x: hidden !important;  
    width: 100% !important;
    background: linear-gradient(to right, #bbd6e9 0%, #d4e4f1 50%, #f4f8fb 80%, #f0f5fa 85%, #f0f5fa 100%);
}
html {
    scroll-behavior: smooth;
    scroll-padding-top: 20px;
}

* {
    box-sizing: border-box !important;  
}



.search-section {
    
    padding: 20px 0;            
    display: flex;
    justify-content: center;   
}
.search-container {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 50px;  
    border: 1px solid #ddd;
    padding: 5px 20px;
    width: 100%;
    max-width: 900px;
    height: 60px;
    margin: 20px auto;
}
.search-container:focus-within {
    border: 1px solid #000;  
    transition: all 0.3s ease;
}

.search-input {
    border: none;
    outline: none;
    width: 100%;
    font-size: 16px;
    padding: 10px;
    background: transparent;
}
.search-input::placeholder {
    color: #000 !important;
    opacity: 1;  
    font-family: 'Tajawal', sans-serif;
    font-weight: 500;
}

.search-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    color: #000;
    
}







/*تنسيق الجوال*/
@media (max-width: 600px) {
    .search-section {
        padding-top: 5px !important;  
        margin-top: -10px !important;  
    }
    .search-container {
        max-width: 90%;        
        height: 50px;        
        margin: 10px auto;    
        padding: 5px 10px;    
        margin-top: 30px !important;
        margin-bottom: 10px !important;
    }

    .search-input {
        font-size: 14px;     
    }
    
    .search-btn svg {
        width: 20px;           
        height: 20px;
    }
     
}

/*تنسيق الايباد*/
@media (min-width: 601px) and (max-width: 1024px) {
    .search-container {
        max-width: 80%;        
    }
}












.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 30px 0;
  margin-top: -10px;
  margin-left: 110px;
}

.tab-btn {
  border: 1px solid #777;
  background: #fff;
  color: #000000;
  padding: 15px 45px;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
  font-size: 14px;
}

.tab-btn.active {
  background: #1f4b8c;
  color: #fff;
  border-color: #1e3a8a;
  font-family: 'Tajawal', sans-serif;
  font-weight: 500;
}
.add-btn {
  background: #e9efff;
  color: #1f4b8c;
  border: 1px solid #1f4b8c;
  font-weight: 500;
  font-family: 'Tajawal', sans-serif;
  padding: 15px 20px;
  font-weight: 500;
  width: 180px;       
  text-align: center;
  text-decoration: none;
}

.add-btn:hover {
  background: #dbe4ff;
}
.add-btn .plus {
  color: #224c89;  
}

/* للجوال */
@media (max-width: 767px) {
  

  .tabs {
    display: flex;
    flex-wrap: wrap;       
    justify-content: center;
    gap: 5px !important;      
    row-gap: 10px !important;    
    margin: 0;
    padding: 0;
  }

  .tab-btn, .add-btn {
    flex: 1 0 25%;           
    max-width: 100px;
    margin: 0 !important;  
    padding: 7px 5px;       
    font-size: 10px;
    border-radius: 15px;
    text-align: center;
  }

  .add-btn {
    flex: 1 0 45%;          
  }
}

/* للآيباد */
@media (min-width: 768px) and (max-width: 1024px) {
   .tabs {
    display: flex;
    justify-content: center;    
    align-items: flex-start;    
    flex-wrap: nowrap;          
    margin-left: 0;            
    margin-top: 10px;           
    gap: 12px;                
  }

  .tab-btn, .add-btn {
    padding: 10px 25px;
    font-size: 14px;
  }

  .add-btn .plus {
    font-size: 20px;
  }
}








.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 280px);  
  gap: 75px 0 ;  
  justify-content: center;
  padding: 40px 0;
}

.card {
  width: 270px;
  height: 475px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  text-align: center;
  overflow: hidden;
  margin-right: 10px;
  margin-top: -50px; 
    
position: relative;
}

 
.image-wrapper {
    position: relative;  
    width: 100%;
    height: 280px;  
    overflow: hidden;
    border-radius: 12px 12px 0 0;
}
.card img {
  width: 100%;
  height: 380px;
  object-fit: cover;
  border-bottom: 1px solid #ddd;
  border-radius: 12px;
}
.play-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70px;  
    height: 70px;
    pointer-events: none;  
    fill: none;
    stroke: #eee;
    stroke-width: 6;
}


.card-header {
    display: flex;
    justify-content: space-between;  
    align-items: center;  
    padding: 10px 15px;
    margin-top: -15px;
}

.stars-container {
    display: flex;
    gap: 1px;  
    margin-top: -4px;
}

.star-icon {
    fill: #f5b325;  
}

.star-empty {
    fill: #ccc;  
    stroke: #ccc;
}

.card-header h3 {
  margin: 10px 0 15px;
  font-size: 16px;
  color: #222;
  font-family: 'Tajawal', sans-serif;
  font-weight: 400;
}

.card p {
  font-size: 13px;
  color: #666;
  padding: 0 10px;
  line-height: 1.5;
  font-family: 'Tajawal', sans-serif;
  width: 100%;
  text-align: right;
  margin-top: -25px;
}

.hidden {
  display: none;
}


.details-btn {
    display: block;  
    width: 65%; 
    margin: 15px auto;  
    padding: 10px;
    background-color: #1f4b8c;;  
    color: white;  
    text-align: center;
    text-decoration: none;
    border-radius: 3px; 
    font-weight: bold;
    transition: background-color 0.3s;
    font-family: 'Tajawal', sans-serif;
    margin-top: -5px;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    bottom: -10px;                 /* كل ما قللت هذا الرقم (مثلاً 5px أو 0) الزر بينزل لتحت أكتر */
    left: 50%;                  
    transform: translateX(-50%);
}


.section-title {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  padding-right: 10px;
  font-family: 'Tajawal', sans-serif;
  margin-right: 305px;
  margin-top: 60px;
}
 


.book-title {
  text-align: right;
  font-size: 20px;
  font-weight: 400;
  color: #333;
  padding-right: 10px;
  font-family: 'Tajawal', sans-serif;
  margin-right: 305px;
  margin-top: 60px;
}


 
@media (max-width: 767px) {
  .cards-container {
    grid-template-columns: 1fr;  
    justify-content: center;    
    gap: 80px;                  
  }

  .card {
    width: 85%;  
    margin: 0 auto;  
    margin-top: -50px;
  }
  .section-title,
.book-title {
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}

.details-btn {
    margin-top: 10px;
}
}



/* تنسيق الايباد */
@media (min-width: 768px) and (max-width: 1024px) {
   .cards-container {
    justify-content: center;  
    gap:  80px 0;     
  }
  .card {
    width: 95%;  
  }

   
  .section-title,
  .book-title {
    margin-right: 40px; 
    font-size: 18px;   
  }
}






/*انميشن*/
.fade-in {
    opacity: 0;
    transform: translateY(30px);  
    transition: opacity 1s ease-out, transform 1s ease-out; 
}

 
.fade-in.visible {
    opacity: 1;
    transform: translateY(0);  
}


